body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #181a7e;
    font-family: 'Verdana', cursive;
    background-color:#4b4949
}
#header {
	background-color: #babd0c;
    border: none;
    border-radius: 20px 20px 0 0;
    margin-bottom: -33px;
    width: 520px;
    height: 80px;
    color: white;
    font-size: 40px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
      
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
    }
    to {
          text-shadow: 0 0 5px #fff, 0 0 10px #ff4da6, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6;
    }
}

main{
	border-radius: 5px;
	background-color: #babd0c;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	justify-content: center;
    align-items: center;
    flex-direction: column;
	width: 750px;
}

section#status{
    display: grid;
    text-align: center;
    vertical-align: middle;
	margin-bottom: 25px;
    margin-left: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
	text-align: center;
	background-color: #37474F;
	color: #FFFFFF;
	font-size: 30px;
    font-weight: bolder;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    bor
    	
}
section.reels {
    justify-content: center;
    display: grid;
    grid-gap: 0vmin;
    margin: 0 auto;
    grid-template-rows: repeat(1, 40vmin);
    grid-template-columns: repeat(3, 25vmin);
    
}

div {
    /* border: 2px solid black; */
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#reel1, #reel2, #reel3 {
    border: 2px solid black;
    margin-bottom: 20px;
}

section.console {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
	border-radius: 5px;
	text-align: center;
	
	color: #FFFFFF;
	font-size: 30px;
    font-weight: bolder;
    justify-content: center;
    display: grid;
    grid-gap: 0vmin;
    grid-template-rows: repeat(1, 10vmin);
    grid-template-columns: repeat(3, 25vmin);
    
    	
}
#audio, #points, #spinBtn {
    border: 2px solid black;
    background-color: firebrick;
    padding: 0px 0px 0px 0px;
    
}